span {
  font-weight: 700;
  font-size: 14px;
  color: rgb(62, 62, 184);
}

h2 {
  text-align: center;
  color: rgb(62, 62, 184);
  text-transform: uppercase;
}

.btn-menu {
  background-color: #f44336;
  color: white;
  line-height: 45px;
  margin: auto;
}

.mat-dialog-actions {
  display: flex;
}

.icon {
  font-size: 22px;
  margin: auto;
}
