<b>{{label}}</b>
<div class="compte_container row mb-0" #frmBody>
  <form [formGroup]="selectAutoComplete">
    <input type="text" formControlName="item" style="display: none;">
  </form>
  <!-- <input type="text" [value]="selectedUser" [(ngModel)]="selectedUser"  style="display: none;"> -->
  <div class="col-2">
    <input type="text" class="w-100" [(ngModel)]="actualValue.agence.code" pInputText [disabled]="true">
  </div>
  <div class="col-2">
    <input type="text" class="w-100" [(ngModel)]="actualValue.devise.code" pInputText [disabled]="true">
  </div>
  <div class="col-3">
    <input type="text" class="w-100" [value]="actualValue.numeroCompte" [(ngModel)]="actualValue.numeroCompte"
      (blur)="focusLost($event)" (keyup)="checkAccountEvent($event, op);" (keypress.enter)="searchUser()" pInputText
      [disabled]="isDisabled" (ngModelChange)="changeInput($event)">
  </div>
  <div class="col-2">
    <input type="text" class="w-100" [(ngModel)]="actualValue.cleCompte" (blur)="focusLost($event)" pInputText
      [disabled]="isDisabled">
  </div>
  <div class="col-3">
    <input type="text" class="w-100" [(ngModel)]="actualValue.intitule" pInputText [disabled]="true">
  </div>
  <div class="col-12 mt-1">
    <input type="text" class="w-100" [(ngModel)]="actualValue.client.intituleClient" pInputText [disabled]="true">
  </div>
</div>
<!-- <div class="compte_container mt-1">

</div> -->
<p-overlayPanel appendTo='body' [dismissable]='false' #op [showCloseIcon]="true"
  [style]="{width: '450px', height:'300px'}">
  <!-- <mat-form-field appearance="outline" style="width: 25%;margin-right: 5px;">
    <mat-select [(ngModel)]="critere.code">
      <mat-option [value]="critereL.code" *ngFor="let critereL of criteres">{{critereL.name}}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <select name="" id="" [(ngModel)]="critere.code" (change)="changeCriteria($event)"
    style="width: 25%;margin-right: 5px;">
    <option [value]="critereL.code" *ngFor="let critereL of criteres">{{critereL.name}}</option>
  </select>
  <input type="text" pInputText style="height:100%;margin-left: 10px;width: 70%;" [(ngModel)]="typedValue"
    (keyup)="searchUser()">
  <mat-selection-list #shoes [multiple]="false">
    <mat-list-option *ngFor="let compte of users" [value]="user" (click)="onRowSelect(compte, op)">
      {{compte.numeroCompte}}-{{compte.cleCompte}} {{compte.intitule}}
    </mat-list-option>
  </mat-selection-list>

</p-overlayPanel>
