<div class="card m-3 mt-0 mb-0 card-container">
  <!-- <mat-card-title>Gestion des clients décédés</mat-card-title> -->
  <div class="card-header">
    <h6 class="m-0 p-0">Gestion des clients décédés</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <form>
          <form [formGroup]="searchInfo">
            <div class="row">
              <div class="col-3">
                <microfi-select-auto-complete formControlName="unite" url={{urlUniteBancaireList}}
                  requestType={{resquesTypeGet}} libelle={{uniteLibelle}}></microfi-select-auto-complete>
              </div>
              <div class="col-3">
                <microfi-select-auto-complete formControlName="agence" url={{urlAgenceList}}
                  requestType={{resquesTypeGet}} libelle={{agenceLibelle}}>
                </microfi-select-auto-complete>
              </div>
              <div class="col-6">

                <microfi-user-form [parentForm]="searchInfo" formControlName="customer">
                </microfi-user-form>
              </div>
              <div class="col-6"></div>
              <div class="col-6 right right-align mt-1 mb-1">
                <microfi-button [name]="'Rechercher'" (click)="find()"></microfi-button>
              </div>
            </div>

          </form>
        </form>

        <div class="table-scroll-container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 h-100">
            <ng-container matColumnDef="agence">
              <th mat-header-cell *matHeaderCellDef> Agence</th>
              <td mat-cell *matCellDef="let element"> {{element.agence.code}} </td>
            </ng-container>
            <ng-container matColumnDef="membre">
              <th mat-header-cell *matHeaderCellDef> Membre</th>
              <td mat-cell *matCellDef="let element"> {{element.client.libelle}} </td>
            </ng-container>
            <ng-container matColumnDef="dateDeces">
              <th mat-header-cell *matHeaderCellDef> Date décès</th>
              <td mat-cell *matCellDef="let element"> {{element.dateDeces}} </td>
            </ng-container>
            <ng-container matColumnDef="utiCre">
              <th mat-header-cell *matHeaderCellDef> Uti. Cre</th>
              <td mat-cell *matCellDef="let element"> {{element.utiValid}} </td>
            </ng-container>
            <ng-container matColumnDef="utiValid">
              <th mat-header-cell *matHeaderCellDef> Uti. Valid</th>
              <td mat-cell *matCellDef="let element"> {{element.utiValid}} </td>
            </ng-container>
            <ng-container matColumnDef="dateValid">
              <th mat-header-cell *matHeaderCellDef> Date validation</th>
              <td mat-cell *matCellDef="let element"> {{element.dateValid|date}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="selectedItem(row)" mat-row *matRowDef="let row; columns: displayedColumns;"
              [class.selected_table]="row.id === selectedItemOnTables.id"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex menu-btn-right align-items-center">
          <microfi-button class="w-50" [name]="'Nouveau'" routerLink="customer/dead-customer-view"></microfi-button>
          &nbsp;
          <microfi-button class="w-50" [name]="'Imprimer'"></microfi-button>&nbsp;
          <microfi-button class="w-50" [name]="'Consulter'"></microfi-button>&nbsp;
          <microfi-button class="w-50" [name]="'Modifier'" (click)="updateDeces()"></microfi-button>&nbsp;
          <microfi-button class="w-50" [name]="'Valider'" (click)="validateDeces()"></microfi-button>&nbsp;
          <microfi-button class="w-50" [name]="'Actualiser'"></microfi-button>&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
