<div class="card m-3 mt-0 mb-0">
  <!-- <mat-card-title></mat-card-title> -->
  <div class="card-header">
    <h6 class="m-0 p-0">Gestion des gestionnaires</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <div class="first-section">
          <h6 style="font-size: medium;">Option de recherche</h6>
          <form [formGroup]="managerFormGroup">
            <div class="row">
              <div class="col-3">
                <microfi-select-auto-complete formControlName="unite" url="{{ urlUniteBancaireList }}"
                  requestType="{{ requestType }}" libelle="Unité Bancaire">
                </microfi-select-auto-complete>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline">
                  <mat-label>Code</mat-label>
                  <input formControlName="code" matInput />
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field appearance="outline">
                  <mat-label>Nom</mat-label>
                  <input formControlName="nom" matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <microfi-button [name]="'Rechercher'" (click)="find()" [iconName]="'search'"></microfi-button>
              </div>
            </div>
          </form>
        </div>

        <div class="table-scroll-container">

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 h-100">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Code</th>
              <td mat-cell *matCellDef="let accountManager">
                {{ accountManager.code }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let accountManager">
                {{ accountManager.nom }}
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let accountManager" class="action-link">
              <button mat-mini-fab color="primary" [routerLink]="['/account-manager/view', accountManager.code]"
                title="Consulter">
                <mat-icon>search</mat-icon>
              </button>
              <button mat-mini-fab color="primary" [routerLink]="['/account-manager/edit', accountManager.code]"
                title="Modifier">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="primary" title="Supprimer">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsGestionnaire"></tr>
            <tr mat-row (click)="selectedItem(row)" *matRowDef="let row; columns: displayedColumnsGestionnaire"
              [class.selected_table]="row.code === selectedItemOnTables.code"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex menu-btn-right align-items-center">
          <microfi-button class="w-50 mb-1" [name]="'Nouveau'" color="primary"
            [routerLink]="['/account-manager/create']">
          </microfi-button>
          <microfi-button class="w-50 mb-1" [name]="'Modifier'" color="primary" (click)="openPage('Modifier')">
          </microfi-button>
          <microfi-button class="w-50 mb-1" [name]="'Consulter'" color="primary" (click)="openPage('Consulter')">
          </microfi-button>
          <microfi-button class="w-50 mb-1" [name]="'Supprimer'" color="primary" (click)="openPage('Supprimer')">
          </microfi-button>
          <microfi-button class="w-50 mb-1" [name]="'Actualiser'" color="primary">
          </microfi-button>
          <microfi-button class="w-50" [name]="'Imprimer'" color="primary">
          </microfi-button>
        </div>
      </div>
    </div>
  </div>
</div>
