.container {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  //height: 720px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.menu {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sous-menu1 {
  width: 60%;
  display: flex;
}

.sous-menu2 {
  width: 30%;
  display: flex;
}

button {
  margin: auto;
  height: 45px;
}

.btn-menu {
  background-color: #f44336;
  color: white;
  line-height: 25px;
}

.btn-search {
  height: 45px;
  margin-top: 2px;
  margin-right: 0;
}

.btn-delete {
  width: 30px;
  height: 30px;
}

.icon {
  font-size: 22px;
  margin: auto;
}

/* form {
  display: flex;
  width: 90%;
  margin: auto;
} */
.first-section,
.second-section {
  width: 90%;
  margin: auto;
}

.first-section1,
.first-section2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

mat-form-field {
  width: 100%;
  font-size: 11px;
  margin-bottom: -1.25em;
}

mat-card-title {
  font-size: 16px;
}

input {
  font-size: 14px;
}

mat-form-field mat-label {
  font-size: 14px;
}

mat-radio-button {
  margin: 10px 0;
}

.first-section-min,
.first-section-min1,
.first-section2-min,
.first-section2-min1 {
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-between;
}

.first-section-min1 > mat-form-field,
.first-section2-min1 > mat-form-field {
  width: 45% !important;
}

table {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background-color: #eeeded;
}

microfi-button {
  color: green;
}
