<div class="card m-3 mt-0 mb-0">
  <!-- <mat-card-title></mat-card-title> -->
  <div class="card-header">
    <h6 class="m-0 p-0">Historique Gestionnaire</h6>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-10">
        <form [formGroup]="managerHistoryFormGroup">
          <div class="row">
            <microfi-user-form class="col-6" [parentForm]="managerHistoryFormGroup"
              (onSelectedItem)="selectedUserClicked($event)" formControlName="customer">
            </microfi-user-form>

            <microfi-account-form class="col-6" [parentForm]="managerHistoryFormGroup"
              (onSelectedItem)="selectedAccountClicked($event)" formControlName="account">
            </microfi-account-form>

            <div class="col-12 mt-1" style="display: flex;justify-content: flex-end;">
              <microfi-button [name]="'Rechercher'" (click)="find()"></microfi-button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2">
        <microfi-button [name]="'Imprimer'"></microfi-button> &nbsp;
        <microfi-button [name]="'Aide'"></microfi-button> &nbsp;
      </div>
    </div>
    <mat-card>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="numMenbre">
          <th mat-header-cell *matHeaderCellDef>Numero Client</th>
          <td mat-cell *matCellDef="let element">{{element.clientCode}}</td>
        </ng-container>

        <ng-container matColumnDef="numCompte">
          <th mat-header-cell *matHeaderCellDef>Intitule Client</th>
          <td mat-cell *matCellDef="let element">{{ element.clientTitle }}</td>
        </ng-container>

        <ng-container matColumnDef="intituleMenbre">
          <th mat-header-cell *matHeaderCellDef>Numero Compte</th>
          <td mat-cell *matCellDef="let element">{{ element.compteNumero }}</td>
        </ng-container>

        <ng-container matColumnDef="intituleCompte">
          <th mat-header-cell *matHeaderCellDef>Intitule Compte</th>
          <td mat-cell *matCellDef="let element">{{ element.compteTitle }}</td>
        </ng-container>

        <ng-container matColumnDef="ancienGestionnaire">
          <th mat-header-cell *matHeaderCellDef>Gestionnaire avant</th>
          <td mat-cell *matCellDef="let element">{{ element.gestionnaireAvantName }}</td>
        </ng-container>

        <ng-container matColumnDef="nouveauGestionnaire">
          <th mat-header-cell *matHeaderCellDef>Gestionnaire apres</th>
          <td mat-cell *matCellDef="let element">{{ element.gestionnaireApresName }}</td>
        </ng-container>

        <ng-container matColumnDef="utiSaisie">
          <th mat-header-cell *matHeaderCellDef>Uti Cre</th>
          <td mat-cell *matCellDef="let element">{{ element.utiCre }}</td>
        </ng-container>

        <ng-container matColumnDef="dateChangement">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.dateChangement }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <mat-icon class="icon">edit</mat-icon>
          <mat-icon class="icon">delete</mat-icon>
        </td>
      </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card>

  </div>
</div>
